---
import CardLaunch from "./CardLaunch.astro";
import { getLaunches } from "../services/spacex";

const launches = await getLaunches();
---

<div class="grid gap-8 sm:grid-clos-2 lg:grid-cols-3">
  {
    launches.map(
      ({id, links, details, flight_number: flightNumber, name, success}) => (
      <CardLaunch 
      id={id} 
      img={links.patch.small} 
      details={details}
      flightNumber={flightNumber}
      name={name}
      success={success}
      />
    ))
  }
</div>
